<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801890669392-7j64oflj5moskju6hvqs30oq7d1rjhb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801890669392-7j64oflj5moskju6hvqs30oq7d1rjhb1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>801890669392-j13k0eg44vnd9jp1mfm04qvbeogb3p8n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Bk7aZ4GbOhFU9hmkYZgjoSRfAbPkLoE</string>
	<key>GCM_SENDER_ID</key>
	<string>801890669392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>social-app-a2823</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-a2823.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801890669392:ios:b1d4a7747b3a59eb841255</string>
</dict>
</plist>